@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Manrope:wght@200..800&family=Open+Sans:ital@0;1&display=swap');
@import "tailwindcss";

html, body {
  font-family: 'Manrope', 'Josefin Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  @theme {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-perimary: #ef4345;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
    /* Replaces @apply border-border */
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground));
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--muted));
}